section {
  padding: 70px 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}

h1 {
  font-size: 550%;
  text-transform: ;
  letter-spacing: 3px;
  font-weight: 400;
}

header {
  background: #262729;
  color: #010101;
  padding: 50px 0;
}
header p {
  font-family: 'Roboto' ;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
  font-size: 40px;
  margin-top: 0px;
}

footer { 
  width: 100%; 
  float: left; 
  text-align: center; 
  padding: calc(1em + 0.25vw) 0; 
  clear: both; }
  
footer figure { 
  display: inline-block;
  clear: left;
  padding: 50px 0;
  }
footer figure img { 
  height: 100px;
  border-radius: 0; 
}

a {
  background: ;
  color: black;
  padding: 8px 20px;
  text-transform: ;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: inline-block;
  border-radius: 0px;
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
}

a:hover, a:active, a:focus {
  background: ;
  color: #246c3c;
  text-decoration: none;
}
