/* Webfont: LatoLatin-Black */@font-face {
    font-family: 'LatoLatinWebBlack';
    src: url('fonts/LatoLatin-Black.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BlackItalic */@font-face {
    font-family: 'LatoLatinWebBlack';
    src: url('fonts/LatoLatin-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Bold */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BoldItalic */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Hairline */@font-face {
    font-family: 'LatoLatinWebHairline';
    src: url('fonts/LatoLatin-Hairline.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Hairline.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-HairlineItalic */@font-face {
    font-family: 'LatoLatinWebHairline';
    src: url('fonts/LatoLatin-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Heavy */@font-face {
    font-family: 'LatoLatinWebHeavy';
    src: url('fonts/LatoLatin-Heavy.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Heavy.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-HeavyItalic */@font-face {
    font-family: 'LatoLatinWebHeavy';
    src: url('fonts/LatoLatin-HeavyItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-HeavyItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Italic */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-Italic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Light */@font-face {
    font-family: 'LatoLatinWebLight';
    src: url('fonts/LatoLatin-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-LightItalic */@font-face {
    font-family: 'LatoLatinWebLight';
    src: url('fonts/LatoLatin-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Medium */@font-face {
    font-family: 'LatoLatinWebMedium';
    src: url('fonts/LatoLatin-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Medium.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-MediumItalic */@font-face {
    font-family: 'LatoLatinWebMedium';
    src: url('fonts/LatoLatin-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Semibold */@font-face {
    font-family: 'LatoLatinWebSemibold';
    src: url('fonts/LatoLatin-Semibold.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Semibold.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-SemiboldItalic */@font-face {
    font-family: 'LatoLatinWebSemibold';
    src: url('fonts/LatoLatin-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Thin */@font-face {
    font-family: 'LatoLatinWebThin';
    src: url('fonts/LatoLatin-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Thin.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-ThinItalic */@font-face {
    font-family: 'LatoLatinWebThin';
    src: url('fonts/LatoLatin-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "LatoLatinWeb", sans-serif;
  color: #333;
  background: #fff;
}

h1 { font-size: calc(1.5em + 0.5vw); margin: 0; }
h1 span { display: inline-block; color: #fff; background: #E60000; padding: 0.1em 0.25em 0; border-radius: 0.15em; }
header p { margin: 0.5em 0; font-size: calc(0.8em + 0.25vw); }

ul {
  list-style: none;
  margin: 3em 0;
  padding-left: 30px;
  border-left: 8px solid #ddd;
}
ul li {
  margin: 1em 0;
  position: relative;
}
ul p {
  margin: 0 0 1em;
}

.date {
  margin-top: -14px;
  top: 50%;
  left: -5em;
  font-size: calc(1.25em + 0.5vw);
  line-height: 100%;
  position: absolute;
  font-family: "LatoLatinWebLight", sans-serif;
}

.circle {
  margin-top: -15px;
  top: 50%;
  left: -46px;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 7px solid #ddd;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  padding: 3em 1.25em 0;
  border: 0.5em solid transparent;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 28px;
  top: 50%;
  margin-top: -28px;
}
.content:after {
  border-right-color: #fff;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

a { color: #E60000; }
a:hover, a:active { text-decoration: none; }
.content p { font-size: calc(0.75em + 0.25vw); }
.content p img { display: block; margin: 1em 0 0; clear: both; }

label {
  font-size: calc(0.8em + 0.75vw);
  line-height: calc(90% + 0.5vw);
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 25px;
  left: 6px;
  transition: transform .1s linear, color .1s ease-in-out;
  color: #E60000;
  font-family: "LatoLatinWebHeavy", sans-serif;
}

label:hover,
label:active,
input:checked + .relative label { color: #333; }

input {
  display: none;
}

input:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
  margin-right: 5em;
  padding-top: 0px!important;
}

input:checked + .relative .circle {
  background: #E60000;
}

input:checked ~ .content {
  max-height: 380px;
  border-color: #ddd;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.1s linear, border-color .1s linear, transform .1s linear;
}

input:checked ~ .content p {
  max-height: 350px;
  margin: 2em 0 1em;
  color: #333;
}

input:checked + div span.date { font-family: "LatoLatinWebSemibold", sans-serif; }


header, article { width: 60%; margin: calc(2em - 1vh) auto 0; padding: 0 3em 0 6em; }

@media screen and (max-width: 992px) {
  header {
    width: 84%;  
    padding: 0 3em 0 6em;
    margin: 8% 20px 0px 8%;
    padding: 0;
    padding-top: 10px;
    text-align: center;
  }
  h1 {
    font-size: calc(1.45em + 0.5vw);
  }

  input:checked ~ .content p{
    max-height: initial;
  }

  input:checked ~ .content {
    max-height: initial;
    margin-right: 0px;
  }
  input:checked ~ .content p{
    max-height: 500px;
    margin: 4em 0 1em;    
  }

  body > article > ul > li:nth-child(1) > div.content > p{
    margin: 3em 0 1em;
  }
  body > article > ul > li:nth-child(2) > div.content > p{
    margin: 2em 0 1em;
  }  
  body > article > ul > li:nth-child(3) > div.content > p{
    margin: 3em 0 1em;
  }
  body > article > ul > li:nth-child(4) > div.content > p{
    margin: 2em 0 1em;
  }
  body > article > ul > li:nth-child(5) > div.content > p{
    margin: 1em 0 1em;
  }  
  body > article > ul > li:nth-child(6) > div.content > p{
    margin: 3.5em 0 1em;
  }  
  body > article > ul > li:nth-child(7) > div.content > p{
    margin: 3em 0 1em;
  }  
  body > article > ul > li:nth-child(8) > div.content > p{
    margin: 3em 0 1em;
  }  
  body > article > ul > li:nth-child(9) > div.content > p{
    margin: 3em 0 1em;
  }  
  body > article > ul > li:nth-child(10) > div.content > p{
    margin: 3em 0 1em;
  }  
  body > article > ul > li:nth-child(11) > div.content > p{
    margin: 3em 0 1em;
  }          
  body > article > ul > li:nth-child(12) > div.content > p{
    margin: 6em 0 1em;
  }
  body > article > ul > li:nth-child(13) > div.content > p{
    margin: 3em 0 1em;
  }  
  body > article > ul > li:nth-child(14) > div.content > p{
    margin: 2em 0 1em;
  }  
  body > article > ul > li:nth-child(15) > div.content > p{
    margin: 3em 0 1em;
  }  
  body > article > ul > li:nth-child(16) > div.content > p{
    margin: 5em 0 1em;
  }   
  body > article > ul > li:nth-child(17) > div.content > p{
    margin: 3em 0 1em;
  }       
  body > article > ul > li:nth-child(18) > div.content > p{
    margin: 5em 0 1em;
  }    
  body > article > ul > li:nth-child(19) > div.content > p{
    margin: 5em 0 1em;
  }    
  label {
    font-size: calc(0.7em + 0.75vw);
  }

  body > article > ul > li:nth-child(2) > div.relative > label{
    padding-top: 11px;
  }
  body > article > ul > li:nth-child(3) > div.relative > label{
    padding-top: 20px;
  }
  body > article > ul > li:nth-child(4) > div.relative > label{
    padding-top: 12px;
  }
  body > article > ul > li:nth-child(5) > div.relative > label{
    padding-top: 11px;
  }  
  body > article > ul > li:nth-child(6) > div.relative > label{
    padding-top: 21px;
  }
  body > article > ul > li:nth-child(7) > div.relative > label{
    padding-top: 13px;
  }
  body > article > ul > li:nth-child(8) > div.relative > label{
    padding-top: 19px;
  }
  body > article > ul > li:nth-child(9) > div.relative > label{
    padding-top: 16px;
  }
  body > article > ul > li:nth-child(10) > div.relative > label {
    padding-top: 10px;
  }
  body > article > ul > li:nth-child(11) > div.relative > label{
    padding-top: 18px;
  }
  body > article > ul > li:nth-child(12) > div.relative > label{
    padding-top: 20px;
  }
  body > article > ul > li:nth-child(13) > div.relative > label{
    padding-top: 17px;
  }
  body > article > ul > li:nth-child(14) > div.relative > label{
    padding-top: 12px;
  }
  body > article > ul > li:nth-child(15) > div.relative > label{
    padding-top: 17px;
  }
  body > article > ul > li:nth-child(16) > div.relative > label{
    padding-top: 23px;
  }  
  body > article > ul > li:nth-child(17) > div.relative > label{
    padding-top: 17px;
  }
  body > article > ul > li:nth-child(18) > div.relative > label{
     padding-top: 23px;
  }
  body > article > ul > li:nth-child(19) > div.relative > label{
    padding-top: 22px
  }
}


footer { width: 100%; float: left; text-align: center; padding: calc(1em + 0.25vw) 0; clear: both; }
footer figure { display: inline-block; clear: left; }
footer figure img { height: 100px; }
